*/.vagrant/*
ubuntu/ubuntu-bionic-18.04-cloudimg-console.log
ubuntu/shared/
commsec/ConsoleApplication1.sln.DotSettings.user
*.suo
commsec/.vs/
commsec/ConsoleApplication1/bin/
commsec/ConsoleApplication1/obj/Debug/
commsec/packages/
