[Unit]
Description=Monero Full Node
After=network.target

[Service]
User=troy
Group=troy
WorkingDirectory=~
RuntimeDirectory=monero

# Clearnet config
#
Type=forking
ExecStart=/home/troy/monero-x86_64-linux-gnu-v0.15.0.1/monerod --rpc-bind-ip=0.0.0.0 --restricted-rpc --confirm-external-bind --data-dir /opt/bitmonero --detach

Restart=always

[Install]
WantedBy=multi-user.target
